# Gradle
.gradle/
build/

# Local config
local.properties

# Android Studio
.idea/
*.iml

# Logs
*.log

# Android build outputs
*.apk
*.aab
output-metadata.json

# Native build
.externalNativeBuild/
.cxx/

# Captures / profiling
captures/
*.hprof

# Keystore files
*.jks
*.keystore

# Google services
google-services.json
